<h1>Welcome to our example using Google Spreadsheets with Oauth</h1>

<p>Welcome to this example...</p>

<% if session[:oauth_token] || session[:username] %>
  <h2>Your Google Docs Spreadsheets</h2>
  <ul>
    <% @spreadsheets.each do |spreadsheet| -%>
      <li><%= spreadsheet.title -%></li>
    <% end %>
  </ul>
  <div id="actions">
    <p>Here's the things you can do...</p>
    <ul>
      <li><%= link_to "Create a New Spreadsheet", new_spreadsheet_path %></li>
      <li><%= button_to "Logout and start over", logout_path -%></li>
    </ul>
  </div>
<% else %>
  <% if RAILS_ENV == "production" %>
    <%= link_to "Get My google Spreadsheets", oauth_get_request_token_path %>
  <% else %>
    <div>
      <p>Not in production mode, falling back to non oauth sign-in. Enter your Google Username and pass</p>
        <% form_tag(:action => "plain_login") do %>
          <p><label>Username:</label><%= text_field_tag :username %></p>
          <p><label>Password:</label><%= password_field_tag :password %></p>
          <%= submit_tag "Submit"%>
        <% end -%>
    </label>
  <% end %>
<% end %>

